<h1 class="text-center"> Lista de Post</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Descripción</th>
        <th scope="col">Nombre de autor</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts" >
        <td>{{post.title}}</td>
        <td>{{post.description}}</td>
        <td>{{post.author.name}} {{post.author.lastname}}</td>
        <td>
            <button class="btn btn-info text-light" routerLink="edit/post/{{post.id}}">Editar</button> |
            <button class="btn btn-danger text-light" (click)="deletePost(post.id)">Eliminar</button>
        </td>
      </tr>
      
    </tbody>
  </table>
